<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mfikri.capstoneandroidexpert">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CapstoneAndroidExpert">
        <activity
            android:name="com.mfikri.capstoneandroidexpert.presentation.splashscreen.SplashScreenActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mfikri.capstoneandroidexpert.presentation.tv.DetailTvActivity" />
        <activity android:name="com.mfikri.capstoneandroidexpert.presentation.movies.DetailMoviesActivity" />
        <activity android:name="com.mfikri.capstoneandroidexpert.presentation.splashscreen.SplashScreenActivity2" />
        <activity android:name="com.mfikri.capstoneandroidexpert.presentation.main.MainActivity" />


    </application>

</manifest>